.breadcrumbs a, .breadcrumbs{
	color: #262626;
}

.breadcrumbs .bread-sep svg path{
	fill: #262626;
}

.title{
	margin: 60px 0;
}

.about-us{

}
.about-us__body{

}
.about-us__info-items{
	display: flex;
	flex-wrap: wrap;
	margin: 41px 0 37px 0;
}

.about-us__info-items .about-us__info-item:nth-child(2n+2) .about-us__info-body{
	order: 1;
}

.about-us__info-items .about-us__info-item:nth-child(2n+2) > img ,.about-us__info-items .about-us__info-item:nth-child(2n+2) > iframe{
	order: 2;
}

.about-us__info-item{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	background-color: #FFFFFF;
	margin: 1.5px 0;
}

.about-us__info-item img{
	width: 50%;
}

.about-us__info-body{
	width: calc(50% - 8.636%);
    padding: 0 4.318% 0 4.318%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.about-us__info-body h2{
	font-size: 25px;
	text-transform: uppercase;
	margin: 0 0 4px 0;
}
.about-us__info-item iframe{
	width: 50%;
	min-height: 400px;
}

.google-map{
	border-top: 2px solid #C71F25;
	margin-top: 84px;
}


@media (max-width: 1440px){
	.title {
	    margin: 30px 0;
	}
}

@media (max-width: 568px){
	.about-us__info-body, .about-us__info-item iframe, .about-us__info-item img{
		width: 100%;
	}

	.about-us__info-items .about-us__info-item:nth-child(2n+2) .about-us__info-body{
		order: unset;
	}

	.about-us__info-items .about-us__info-item:nth-child(2n+2) > img ,.about-us__info-items .about-us__info-item:nth-child(2n+2) > iframe{
		order: unset;
	}
	
	.about-us__info-item iframe{
		min-height: 300px;
	}
	

	.about-us__info-item{
		margin: 15px 0;
	}

	.about-us__info-body{
		margin: 20px 0 0 0;
	}

	.title {
	    margin: 10px 0 30px 0;
	}

}