.breadcrumbs{
	padding: 20px 0;
}

.breadcrumbs ol{
	font-family: 'Roboto Condensed', sans-serif;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style-type: none;
	margin: unset;
	padding: unset;
}

.breadcrumbs a,.breadcrumbs, .breadcrumbs .current {
	color: #000;
}

.breadcrumbs a:hover{
	color:#C71F25;
}

.breadcrumbs ol li{
	margin-right: 12px;
}

.breadcrumbs .bread-sep{
	line-height: 1;
}

.breadcrumbs .bread-sep svg{
	transform: rotate(-90deg);
}
.breadcrumbs .bread-sep svg path{
	fill: #000000;
}

.page-thumbnail .breadcrumbs a,
.page-thumbnail .breadcrumbs,

.page-thumbnail .breadcrumbs .current {
    color: #FFFFFF;
}

.page-thumbnail .breadcrumbs .bread-sep svg path{
    fill: #FFFFFF;
}


@media (max-width: 568px){

    .breadcrumbs {
        display: flex;
        justify-content: flex-start;
        padding-left: 20px;
    }

    .breadcrumbs li a {
        color:#262626;
    }

    .bread-sep svg path {
        fill: #262626!important;
    }

    .breadcrumbs li.current {
        color:#C71F25;
    }
    .page-thumbnail .breadcrumbs a,
    .page-thumbnail .breadcrumbs,
    .page-thumbnail .breadcrumbs .current {
        color: #000000;
    }

    .page-thumbnail .breadcrumbs .bread-sep svg path{
        fill: #000000;
    }
}
