
.page-thumbnail{
	background-size: cover;
	background-repeat: no-repeat;
	padding-bottom: 30px;
	/*background-image: url('/frontend/images/page_thumbnail/catalog.jpg');*/
}

.page-thumbnail .title{
	justify-content: center;
}

.catalog-navigation{
	background-color: #FFFFFF;
}

::-webkit-scrollbar {
    width: 5px;
    height: 3px; /* высота для горизонтального скролла */
    background-color: #FFFFFF;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
    background-color: #C71F25;
    border-radius: 9em;
    box-shadow: inset 1px 1px 10px #f3faf7;
}

.catalog-tabs{
	display: flex;
    max-width: 100%;
    overflow: auto;
    height: 100%;
}
.catalog-tabs-item{
	cursor: pointer;
    height: 100%;
}

.catalog-tabs-item-content{
	padding: 15px 20px;
	display: flex;
	align-items: center;
}


.catalog-tabs-item img{
	margin-right: 20px;
	max-width: 70px;
	max-height: 70px;
}

.catalog-tabs-item a{
	color: inherit;
}
.catalog-tabs-item .tab-title{
	margin: unset;
	text-transform: uppercase;
    white-space: nowrap;
	font-size: 16px;
    line-height: 19px;
    color: #C71F25;
    display: block;
}

.catalog-tabs-item-content:hover {
    border-bottom: 2px solid #C71F25;
}

.catalog-tabs-item.active{
	border-bottom: 2px solid #C71F25;
}

.catalog-tabs-item.active .tab-title{
	color: #C71F25;
}


.products-on-page{
	font-size: 20px;
	margin: 60px 0 40px 0;
	text-transform: uppercase;
	color: #8A8A8A;
}

.products-on-page span>span{
	color: #000000;
}

.catalog>.btn{
    justify-content: center;
    margin: 20px 0 100px 0;
}
.catalog-items{
    display: flex;
    flex-wrap: wrap;
}

.catalog-item {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    max-width: 268px;
    background-color: #FFFFFF;
    margin: 20px 10px;
    padding: 0 0 20px 0;
}

.catalog-item-hidden-desc-bg .catalog-item__title{
    font-size: 20px;
    text-transform: uppercase;
    color: #262626;
    background-color: #ffffff;
    justify-content: center;
    transition: line-height .4s ease-out;
    transition-delay: .3s;
    width: 85%;
}

.catalog-item-hidden-desc {
    width: 100%;

}

.catalog-item-hidden-desc-bg {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.catalog-item  .catalog-item-description {
    display: none;
    max-height: 0;
    text-align: center;
}

/*hover*/


.catalog-item:hover::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 75%;
    left: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
    transition: all 1.2s ease-out;
}

.catalog-item:hover .btn.show-more {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 40%;
    /*transition: all 1.2s ease-out;*/
}

.catalog-item:hover  .catalog-item-description {
    display: block;
    /*transition: all 1.2s ease-out;*/
}

.catalog-body {
    padding-bottom: 30px!important;
}

.development-block {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    padding: 50px 0;
}

.development-item {
    margin-bottom: 50px;
}

.development-text {
    width: 50%;
}

.development-img {
    align-self: flex-end;
}

@media (max-width: 568px){

    .catalog-body {
        min-height:unset!important;
    }
    .page-thumbnail {
        background-image: unset!important;
    }

    .page-thumbnail .title {
        font-size: 20px;
        line-height: 24px;
        justify-content: flex-start;
        padding-left: 20px;
    }

    .catalog-tabs {
        display: none;
    }

    .catalog-item:hover .btn.show-more {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 30%;
    }



    .catalog-item {
        width: 45%;
        margin: 20px 5px;
    }

    .catalog-item a {
        text-align: center;
    }


}
