.page-thumbnail{
	background-size: cover;
	background-repeat: no-repeat;
	padding-bottom: 30px;
}

.page-thumbnail .title{
	justify-content: center;
}

.breadcrumbs .current{
	color: #FFFFFF;
}

.contact-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    min-height: 60vh;
}

.contact_us{
	display: flex;
	flex-wrap: wrap;
    align-items: flex-start;
	margin: 60px 0 100px 0;
    width: 100%;
}

/*.contact_us>div {*/
/*    outline: 2px solid red;*/
/*}*/
.contact_us-info {
    display: flex;
    flex-direction: column;
    width: 50%;
    font-size: 18px;
}
.contact_us-info p {
    padding-right: 10%;
}

.contact_us-info h2{
	color: #C71F25;
	margin: 0;
}

.contact_us-info a{
	color: #000000;
}

.contact_us-info .email{
	color: #C71F25;
	text-decoration: underline;
}

.contact_us-info .contact_us-link{
	margin: 5px 0;
}

.contact_us-form{
    width: 50%;
    order: 2;
    margin-top: -30%;
}

.contact_us-form form {
    padding-right: 10%;
}

.contact_us-form .btn{
	justify-content: center;
}

.google-map{
	border-top: 2px solid #C71F25;

    width: 50%;
    order: 1;
}


.contact_us-form-title {
    display: none;
}


@media (max-width: 768px){

    .contact_us-form{
        width: 100%;
        order: 2;
        margin-top: 0%;
    }

    .contact_us-form form {
        width: 100%;
        order: 2;
        margin-top: 0%;
    }

    .contact_us-form-title {
        display: flex;
        font-family: 'Rubik', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        text-transform: uppercase;
        align-items: center;
        color: #C71F25;
    }

    .google-map iframe{
        height: 250px;
    }
}

