.home-slider{
	position: relative;
}

.home-slider .slider-item__content{
    max-width:  45%;
    position: absolute;
    top: 50%;
    left: 19.6%;
    transform: translate(0px, -50%);
}

.home-slider .slider-item{
	position: relative;
	max-height: 678px;
    overflow: hidden;
}

.slider-item:focus{
	outline: none;
}

.home-slider .slider-item video{
	width: 100%;
}


.home-slider .title{
	display: block;
	line-height: initial;
	position: relative;
	z-index: 2;
    background-color: #D52C2F;
}



.home-slider .title span{
    padding: 10px 20px;
    background-color: #C71F25;
}

.home-slider .sub-title{
	color: #FFFFFF;
    font-weight: 100;
}

.home-slider .btn.show-more{
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%,50%);
}


.about-us{

}

.about-us .title{
	margin-bottom: 60px;
}

.about-us-content{
	display: flex;
    align-items: center;
    max-width: 100%;
}

.about-us-content img{
	width: 54.9%;
}

.about-us-description {
	margin-left: 2.102%;
	padding-right: 2.102%;
}

.about-us-description p{
	font-family: inherit!important;
	font-size: inherit!important;
	background-color: unset!important;
}

.about-us-description .btn{
	margin-top: 6.118%;
}

.catalog {
    margin-bottom: 100px;
}

.catalog-items{
	display: flex;
	flex-wrap: wrap;
}

.catalog-item{
	max-width: 367px;
    width: calc( 33.3% - 2.30%);
    margin: 1.15%;
    display: flex;
    flex-wrap: wrap;
    background-color: #FFFFFF;
}

.catalog-item:hover{
	box-shadow: 0 0 5px rgb(195 197 194);
}


.catalog-item__title {
	width: 100%;
	align-items: center;
	justify-content: center;
	padding: 18px;
    font-family: 'Rubik', sans-serif;
	text-transform: uppercase;
	color: #262626;
    line-height: 21px;
    text-align: center!important;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    display: flex;
}

.catalog-item:hover .catalog-item__title {
    background-color: #c71f25;
    color: #ffffff;
}

/*====*/

.interesting-wrap,
.interesting{
    margin-bottom: 100px;
}

.interesting-items {
    display: flex;
    flex-wrap: wrap;
}

.interesting-item {
    position: relative;
    max-width: 367px;
    width: calc( 33.3% - 2.30%);
    margin: 1.15%;
    display: flex;
    flex-wrap: wrap;
    background-color: #FFFFFF;
}

.interesting-item img {
    width: 367px;
    height: 330px;
}

.interesting-item-details {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: none;
    align-items: flex-end;
    text-transform: uppercase;
    color: #C71F25;
    background-color: #ffffff;
    border: 1px solid  #C71F25;
    padding: 15px 40px;
}

.interesting-item:hover{
    box-shadow: 0 0 5px rgb(195 197 194);
}

.interesting-item:hover .interesting-item-details {
    display: flex;
}

.interesting-item:hover img {
    filter: brightness(0.5);
}

.interesting-item a {
    display: flex;
    align-items: flex-start;
}

.interesting-item__title{
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 18px;
    font-family: 'Rubik', sans-serif;
    font-size: 21px;
    color: #000000;
    line-height: 21px;
    text-align: center!important;

}

/*====*/
.certificates {
    margin-bottom: 130px;
}

.certificates-item {
    display: flex!important;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


.certificates-item__title {
    width: 100%;
    padding: 18px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #000000;
    line-height: 24px;
    font-weight: bold;
    text-align: center!important;
}

.certificates-item__body {
    width: 100%;
    padding: 18px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #000000;
    line-height: 24px;
    text-align: center!important;
}
/*====*/





@media (max-width: 1024px){
	.about-us-content{
		display: block;
	}
	/*.about-us-description,.about-us-content img{*/
	/*    width: 50%;*/
	/*    max-width: 846px;*/
	/*}*/
    .about-us-content img{
        float: left;
        padding: 25px;
    }

	.catalog-item__title{
		font-size: 18px;
	}
}

@media (max-width: 768px){
	.home-slider .title span{
		padding: 5px 20px;
	}
	.home-slider .sub-title{
		max-width: 60%;
		font-size: 14px;
	}

    .certificates {
        margin-bottom: 40px;
    }

    .catalog-item__title{
        font-size: 16px;
    }
}


@media (max-width: 568px){
	.home-slider .slider-item__content {
	    width: 100%;
	    position: absolute;
	    top: 50%;
	    left: 0;
	    transform: translate(0px, -50%);
	    text-align: center;
	}



	.home-slider .sub-title {
	    display: none;
	}

    .about-us-content{
        display: flex;
        flex-direction: column;
    }

    .about-us-content img{
        width: 100%;
        padding: 0;
    }

    .catalog-items{
        justify-content: center;
    }

    .catalog-items .catalog-item {
        width: 100%;
        margin-bottom: 20px;
    }
    .interesting-item {
        width: 100%;
    }

    .certificates {
        margin-bottom: 0;
    }

}

@media (max-width: 360px){

	.home-slider .title{
		font-size: 22px;
	}

	.home-slider .title span {
	    padding: 5px 10px;
	}

	.about-us .title {
	    margin-bottom: 40px;
	}
	.catalog-item__title {
	    font-size: 22px;
	}


}






