.breadcrumbs a, .breadcrumbs{
	color: #262626;
}

.breadcrumbs .bread-sep svg path{
	fill: #262626;
}

.page__body{
	margin: 30px 0 60px 0;
}

.cooperate {
    width: 40%;
    margin: 0 auto 100px auto;
    padding: 80px;
    background-color: #FFFFFF;
}

.cooperate-info {
    display: flex;
    justify-content: center;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #C71F25;
}

.content-wrapper {
    min-height: 50vh;
}
@media (max-width: 568px){
    .about-wrap-item iframe {
        width: 100%;
    }
}
